<div>
    <h1>All the meat are show here</h1>
</div>

<h2>@Model.CurrentCategory</h2>
<div class="row">
    @{
        foreach (Meat meat in Model.Meats)
        {
            @await Html.PartialAsync("MeatsSummary", meat)
        }
    }
</div>